* {
	 font-family: Georgia, serif;
	 font-weight: 300;
	 transition: all 0.1s ease;
}
 html, body {
	height: 100%;
	background:#3d3d3d;
	color:white;
	overflow-x: auto;
	overflow-y: auto;
}
img {
	max-width: 100%;
}
 h1 {
	 font-size: 64px;
}

 .page-section {
	 width: 50%;
	 margin-left: 35%;
	 margin-top: 5%;
	 padding: 3em;
	 background: black;
	 color: white;
	 box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}
.page-section{
	flex-wrap: wrap;
}
 .navigation {
	 position: fixed;
	 width: 30%;
	 height: auto;
	 margin-left: 2%;
	 background-color: black;
	 color: #fff;
	 overflow-y: auto;
	 top: 0;
     bottom:0;
}
 .navigation__link {
	 display: block;
	 color: #ddd;
	 text-decoration: none;
	 padding: 1em;
	 font-weight: 400;
}
 .navigation__link:hover {
	 background-color: #aaa;
}
 .navigation__link.active {
	 color: white;
	 background-color: rgba(0, 0, 0, 0.1);
}

.language-python{
	background-color: #3d3d3d;
	display: block;
	overflow-x: auto;
}